header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 460px;
    height: 100vh;

    svg {
        width: 200px;
        display: block;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .6em;
        font-size: prem(20);
        font-weight: 400;
        padding: spacer(10) 0;

        @media (--md) {
            font-size: prem(30);
        }
    }
}
