{
    "printWidth": 400,
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": true,
    "quoteProps": "consistent",
    "arrowParens": "avoid",
    "trailingComma": "none",
    "semi": false,
    "overrides": [
        {
            "files": [
                "*.yml"
            ],
            "options": {
                "singleQuote": false
            }
        }
    ]
}
