{
  "extends": "@ravorona/stylelint-config",
  "rules": {
    "value-keyword-case": [
      "lower",
      {
        "ignoreProperties": [
          "/^font/",
          "/^\\$font/",
          "/^\\--font/"
        ]
      }
    ]
  }
}
