/*!
 * Copyright © 2021 - яαvoroηα
 *
 * @project Sage
 * @file _base.scss
 * @author ravorona
 */

* {
    @include reset;
}

::selection {
    background-color: col(blue);
    color: white;
}

html,
body {
    width: percentage(1);
    height: percentage(1);
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: #{$baseFontSize}px;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-default);
    color: var(--color-default, black);
}

.container {
    width: var(--container-width, #{percentage(1)});
    max-width: var(--container);
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    margin: 0 auto;
}

.close {
    width: 24px;
    height: 24px;
    background: svg-inline(close) center center no-repeat;
}
