.content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;

    a {
        color: cadetblue;
        text-decoration: none;
    }

    p {
        font-size: prem(20);
    }
}

.useless-selector {
    color: red;
}
