/*!
 * Copyright © 2021 - яαvoroηα
 *
 * @project Sage
 * @file _variables.scss
 * @author ravorona
 */

/**
 * Base variables
 */
$baseFontSize: 10 !default;
$baseSpacer: 10 !default;
$baseLetterSpacing: 1 !default;

/**
 * Theme breakpoints
 */
$breakpoint-xsmall:   360px;
$breakpoint-small:    640px;
$breakpoint-medium:   768px;
$breakpoint-large:    1024px;
$breakpoint-xlarge:   1280px;

$theme-breakpoints: (
    'xs': $breakpoint-xsmall,
    'sm': $breakpoint-small,
    'md': $breakpoint-medium,
    'lg': $breakpoint-large,
    'xl': $breakpoint-xlarge
);

$theme-eases: (
    'default': cubic-bezier(.33, .34, .19, 1)
);

/**
 * Grid
 */
$grid-count: 12;

/**
 * CSS variables
 */
:root {
    --font-proxima-nova: #{$font-proxima-nova};
    --font-default: var(--font-proxima-nova);
    --grid: #{$grid-count};
    --gutter: calc(#{$baseSpacer}px * 2);
    --container: 1440px;
    --container-width: calc(#{percentage(1)} - (var(--gutter) * 2));
    --color-default: black;
}

@media (--md) {
    :root {
        --gutter: calc(#{$baseSpacer}px * 3);
    }
}
